/* === Add Fonts === */
@font-face {
  font-family: 'A4Speed';
  src: url('font/A4SPEED-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'BlackFuture';
  src: url('font/Black Future.otf') format('opentype');
}

/* === Apply Fonts === */
.title1 {   /* main page title */
  font-family: 'A4Speed', sans-serif;
  font-size: 2.5;
  color: #111;
  text-align: center;

}

.title2 {   /* section titles */
  font-family: 'BlackFuture', sans-serif;
  font-size: 2;
  color: #333;
}